<h1>1 contact</h1>

<table>
  <% todos.forEach(function(todo){ %>
    <tr>
      <td><%= contact.name %></td>
      <td><%= contact.email %></td>
      <td><%= contact.phone %></td>
      <td><%= contact.company %></td>
      <td><%= contact.notes %></td>
      <td><%= contact.twitter %></td>
    </tr>
    <% }); %>
</table>
